<div>
  <h1 class="w-25 p-3 m-3">Stupid Coach</h1>
</div>

<div class="card w-50 p-3 m-3">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @question%></h5>
    <p class="card-text">-You</p>
  </div>
</div>

<div class="card w-50 p-3 m-3">
  <div class="card-header">
  </div>
  <div class="card-body bg-warning">
    <h5 class="card-title"><%= @answer%></h5>
    <p class="card-text">-Your Coach</p>
  </div>
</div>
  <a href="/ask" class="btn btn-primary w-25 p-3 m-3">Ask a new question</a>
