<form action="answer" data-turbo="false" class="form-inline" >
  <div class="form-group w-25 m-3">
    <label for="inputPassword2" class="sr-only" placeholder="Question"></label>
    <input type="text" name="question" class="form-control" placeholder="Type your question..." >
  </div>
  <div class="form-group w-25 m-3">
    <input type="submit" value="Ask!" class="btn btn-primary m-2">
  </div>
</form>
